
.block{
	width: 45%;
}
.container{
	width: 45%;
	height: 300px;
	overflow: scroll;
}
.about-body{
	margin: 0%;
}

.about-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.form{
	display: none;
	width: 90%;
	background-color: white;
}
.tree-block{
	width: 90%;
}
.form-link{
	display: block;
	color: blue;
}
